.header-container {
  padding: 24px 36px;
  height: 150px;
  width: 100%;
  box-shadow: $elevation-shadow-3dp;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  background-size: contain;

  .header-title {
    font-weight: bold;
    text-shadow: 0 0 6px brown;
  }

  .header-desc {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    color: $subtitle-color;
    text-shadow: 0 0 6px brown;
  }

  svg {
    font-size: 18px;
    color: $font-base-color;
  }

  button {
    box-shadow: $elevation-shadow-1dp;
    padding: 6px;
    display: none;
  }

  .search {
    * {
      display: none;
    }
    font-size: 14px;
    color: $subtitle-color;
  }
}
